<div class="container">
  <div class="col-md-6 offset-md-3">

    <div class="card">
      <div class="card-header text-left">
        <a routerLink="/admin/listing" class="btn btn-success">Atras</a>
      </div>
      <div class="card-body">
        
        <div class="list-group">
          <a routerLink="/nuevo-producto" class="list-group-item list-group-item-action text-left">
            <p class="mb-1 font-default">Crear Producto</p>
          </a>
          <a routerLink="/all-products" class="list-group-item list-group-item-action text-left">
            <p class="mb-1 font-default">Actualizar Productos</p>
          </a>
          <a routerLink="/slides/create" class="list-group-item list-group-item-action text-left">
            <p class="mb-1 font-default">Crear Slider</p>
          </a>
          <a href="#" (click)="closeSesion($event)" class="text-danger font-default">Cerrar Sesión</a>
        </div>
    </div>
    
  </div>
</div>