<section id="pantalla_vertical">


  
  <div class="absolute_container" >
    <div class="title_logo">
      <h1><img src="assets/images/logo_parrilla_express.png" alt=""></h1>
    </div>
    <div class="linea"></div>
    <div class="carousel slick_1" >
      <div *ngFor="let d of data; let i = index" class="container_slider slide" >

        <div class="only_slider_container">
          <img [src]="d.image" alt="" class="image_fully">
          <!-- TEXT CONTAINER -->
          <div class="front_container">
            
            
            <div class="text_container">

              <div class="title_product">
                <h3>{{d.title}}</h3>
              </div>
              <div class="title_price">
                <span>
                  ${{d.price | number}}
                </span>
              </div>
            </div>


          </div>
          <!-- FINAL TEXT CONTAINER -->

        </div>        

      </div>
      

    </div>
    <div  class="carousel slick_2" >
      <div *ngFor="let d of data.reverse(); let i = index" class="container_slider slide" >

        <div class="only_slider_container">
          <img [src]="d.image" alt="" class="image_fully">
          <!-- TEXT CONTAINER -->
          <div class="front_container">
            
            
            <div class="text_container">

              <div class="title_product">
                <h3>{{d.title}}</h3>
              </div>
              <div class="title_price">
                <span>
                  ${{d.price | number}}
                </span>
              </div>
            </div>


          </div>
          <!-- FINAL TEXT CONTAINER -->

        </div>        

      </div>
      

    </div>

    <!-- SLIDER CONTAINER -->
    <!-- FINAL DE SLIDER CONTAINER -->
  </div>

</section>