<section  id="fds_productos">
  <div class="vertical-products wmedium">
    <div class="titulo" id="tituloclicking">
      
      <div class="combo-day">
        <ul>
          <li *ngFor="let ad of menu.aditions">
            <span class="li-text-left" [innerHTML]="ad.name |  getFirstWord : 'li-title' | sanitizeHTML">
            </span>
            <span class="li-price li-text-right">${{ad.price | number}}</span>

          </li>

         
         
        </ul>
        
      </div>
    </div>

    <div class="post-combo">
      <p *ngFor="let combo of combo.combos">
        <span>{{combo.name}}</span>
        <span>${{combo.price | number}}</span>
      </p>
     
    </div>

    <div class="words-desc2">
      <h3 class="exec-launcer-title">{{launcs.name}}</h3>
      <div class="intern-flexing">
        <ul>
          <li *ngFor="let ad of launcs.aditions">{{ad.name}}</li>
        </ul>    
        <h3>$15.000</h3>    
      </div>
    </div>

    <div *ngIf="ejec.menus" class="exec-lanuchers position-relative">
      <div>
        <div class="exec-launcer-title">
          <h3>{{ejec.menus[0].name}}</h3>
        </div>
        <div class="exec-launcers-items">
          <ul>
            <li *ngFor="let ad of ejec.menus[0].aditions">{{ad}}</li>
          </ul>
        </div>
        <span class="exec-launchers-price">
          ${{ejec.menus[0].price | number}}
        </span>
      </div>
    
      <!-- <div class="position-absolute absolute-ofert">
        <p> + Sopa <br>$13,500</p>
      </div> -->
    
      <div>
        <div class="exec-launcer-title two">
          <h3>{{ejec.menus[1].name}}</h3>
        </div>
        <div class="exec-launcers-items">
          <ul>
            <li *ngFor="let ad of ejec.menus[1].aditions">{{ad}}</li>
          </ul>
        </div>
        <span class="exec-launchers-price">
          ${{ejec.menus[1].price | number}}
        </span>
      </div>
    
    
    </div>

  </div>
</section>

<!-- <pre class="text-left">
  {{ menu |json}}
  {{ combo |json}}
  {{ ejec |json}}
  {{ launcs |json}}
</pre> -->
