*{
  font-size: 1rem;
}

a{
  cursor: pointer;
}

h2{
  color: #212529;
}
label {
  margin-bottom: .5rem;
  color: #212529;
  font-size: 1rem;
}

.form-group {
  text-align: left;
}

.font-default{
  font-size: 1rem;
}