<div class="container">
  <div class="col-md-10 offset-md-1">

    <div class="card mb-3">
      <div class="card-header">
        <h3 class="text-primary">Presets Actuales</h3>
      </div>
      <div class="card-body">

        <div class="list-group" *ngFor="let preset of presets; let i = index">
          <div class="list-group-item flex-column align-items-start">

            <h5 class="text-dark">{{preset.title}}</h5>

            <div class="custom-control custom-radio custom-control-inline" *ngFor="let day of dayWeek" >
              <input [(ngModel)]="config[day.day]" type="radio" [value]="preset.id" [id]=" i + 'week_day_preset' + day.day" [name]="'week_day_preset' + day.day " class="custom-control-input">
              <label class="pointer custom-control-label" [for]="i + 'week_day_preset' + day.day">{{day.name}}</label>
            </div>
          </div>
        </div>

      </div>
      
      <div class="card-footer">
        <button (click)="saveConfig()" class="btn btn-primary btn-lg">Guardar Configuración</button>
      </div>
    </div>
    
    
    <div class="card">
      <div class="card-header text-left">
        <a routerLink="/admin/listing" class="btn btn-success mb-2">Atras</a>
        <a routerLink="/screentwo/editing" class="btn btn-warning mb-2 ml-2">Editar items</a>
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" [ngClass]="{'active':compActive == 1}" (click)="toggleComponent( $event, 1 )" href="#">Menú de Día</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [ngClass]="{'active':compActive == 2}" (click)="toggleComponent( $event, 2 )">Combo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [ngClass]="{'active':compActive == 3}" (click)="toggleComponent( $event, 3 )">Ejecutivo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [ngClass]="{'active':compActive == 4}" (click)="toggleComponent( $event, 4 )">Presets</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        
        <app-newMenuDay *ngIf="compActive == 1"></app-newMenuDay>
        <app-newCombo *ngIf="compActive == 2"></app-newCombo>
        <app-newEjecutive *ngIf="compActive == 3"></app-newEjecutive>
        <app-presets *ngIf="compActive == 4"></app-presets>
        
      </div>

      <div class="card-footer text-left">
        <a (click)="closeSesion()" class="btn btn-danger">Cerrar Sesión</a>
      </div>
      
    </div>

  </div>