*{
  font-size: 1rem;
}

a{
  cursor: pointer;
}

h2{
  color: #212529;
  font-size: 32px;
}
label {
  margin-bottom: .5rem;
  color: #212529;
  font-size: 1rem;
}

.form-group {
  text-align: left;
}

.font-default{
  font-size: 1rem;
}

.m-select-container{
  overflow-x: auto;
}

.m-select{
  padding: 5px 10px;
  min-width: 20%;
}

@media ( max-width: 992px ){
  .m-select{
    min-width: 33.33333333%;
  }
}


@media ( max-width: 549px ){
  .m-select{
    min-width: 50%;
  }
}