<div class="container">
  <div class="col-md-10 offset-md-1">

    <div class="card mb-3">
      <div class="card-header">
        <h3 class="text-primary">Presets Actuales</h3>
      </div>
      <div class="card-body">

        <div class="d-flex m-select-container">
          <div class="m-select"  *ngFor="let day of dayWeek">

            <label for="">{{day.name}}</label>
            <select  class="custom-select" [(ngModel)]="config[day.day]">                    
              <option *ngFor="let preset of presets" [value]="preset.id">{{preset.title}}</option>
            </select>

          </div>
        </div>

      </div>
      
      <div class="card-footer">
        <button (click)="saveConfig()" class="btn btn-primary btn-lg">Guardar Configuración</button>
      </div>
    </div>
    
    
    <div class="card">
      <div class="card-header text-left">
        <a routerLink="/admin/listing" class="btn btn-success mb-2">Atras</a>
        <ul class="nav nav-tabs card-header-tabs">
         
          <li class="nav-item">
            <a class="nav-link" href="#" [ngClass]="{'active':compActive == 1}" (click)="toggleComponent( $event, 1 )">Presets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [ngClass]="{'active':compActive == 2}" (click)="toggleComponent( $event, 2 )">Sliders</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        
        <app-presets *ngIf="compActive == 1"></app-presets>
        <app-newMenuDay  *ngIf="compActive == 1"></app-newMenuDay>
        <app-newCombo (methodName)="reciveValsComboComponent($event)" [events]="eventsSubject.asObservable()" *ngIf="compActive == 1"></app-newCombo>
        <app-newEjecutive *ngIf="compActive == 1"></app-newEjecutive>
        <app-slider *ngIf="compActive == 2"></app-slider>
        
      </div>

      <div class="card-footer text-left">
        <a (click)="closeSesion()" class="btn btn-danger">Cerrar Sesión</a>
      </div>

      <button class="btn btn-success" (click)="emitToNewCombo()">VER</button>
      <pre class="text-left">
        {{compVals | json }}
      </pre>
    </div>

  </div>