<section  id="theProductos">
  <div class="vertical-products">
    <div class="titulo" id="tituloclicking">
      <owl-carousel [options]="slideOption" [carouselClasses]="['owl-theme', 'sliding', 'carouselowl']"
        [items]="images">
        <ul class="fotos owl-carousel owl-theme" *ngFor="let prod of images">
          <li><img [src]="prod"></li>
        </ul>
      </owl-carousel>
      <div class="combo-day">
        <ul>
          <li *ngFor="let ad of menu.aditions">
            <span class="li-text-left">
              {{ad.name}}
            </span>
            <span class="li-price li-text-right">${{ad.price}}</span>

          </li>

          <!-- <li>
            <span class="li-text-left">
              <span class="li-title">Currasco</span> Argentino
            </span>
            <span class="li-price li-text-right">$24.000</span>
          </li> -->
         
        </ul>
        
      </div>
    </div>

    <div class="post-combo">
      <p *ngFor="let combo of combo.combos">
        <span>{{combo.name}}</span>
        <span>${{combo.price}}</span>
      </p>
     
    </div>

    <div class="words-desc2">
      <h3 class="exec-launcer-title">Carne - Pechuga - Lomo - Milanesa - Trucha - Mojarra - Bagre Frito o Salsa</h3>
      <div class="intern-flexing">
        <ul>
          <li>Ensalada</li>
          <li>Arroz</li>
          <li>Francesa</li>
          <li>Bebida</li>
        </ul>    
        <h3>$15.000</h3>    
      </div>
    </div>

    <div class="exec-lanuchers position-relative">
      <div>
        <div class="exec-launcer-title">
          <h3>Churrasco</h3>
        </div>
        <div class="exec-launcers-items">
          <ul>
            <li>Papa + Yuca</li>
            <li>Maduro</li>
            <li>Guacamole</li>
            <li>Bebida</li>
          </ul>
        </div>
        <span class="exec-launchers-price">
          $20.000
        </span>
      </div>

      <div class="position-absolute absolute-ofert">
        <p> + Sopa <br>$13.500</p>
      </div>

      <div>
        <div class="exec-launcer-title two">
          <h3>Parrilla Mixta</h3>
        </div>
        <div class="exec-launcers-items">
          <ul>
            <li>Papa + Yuca</li>
            <li>Maduro</li>
            <li>Guacamole</li>
            <li>Bebida</li>
          </ul>
        </div>
        <span class="exec-launchers-price">
          $12.600
        </span>
      </div>


    </div>

  </div>
</section>

