

  <div class="form-group">
    <label for="full_title">Título de día</label>
    <input type="text" class="form-control" name="full_title" id="full_title" placeholder="Ej: Pechuga Gratinada">
  </div>
  <div class="form-group">
    <label for="full_eatings">Alimentos</label>
    <input type="text" class="form-control" name="full_eatings" id="full_eatings" placeholder="Ej: Carne - Lomo - Milanesa">
  </div>
  <div class="form-group">
    <label for="full_aditions">Adiciones</label>
    <input type="text" class="form-control" name="full_aditions" id="full_aditions">
    <small class="form-text text-muted">Ej: Sopa: * Cuchuco o fruta | * Ensalada: Caliente </small>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="full_price">Precio</label>
      <input type="number" class="form-control" name="full_price" id="full_price">
    </div>
    <div class="form-group col-md-6">
      <label for="full_option">Menu opción 2</label>
      <input type="text" class="form-control" name="full_option" id="full_option">
      <small class="form-text text-muted">Ej: Mojarra</small>
      <label for="full_option_price">Precio opción 2</label>
      <input type="number" class="form-control" name="full_option_price" id="full_option_price">
    </div>
  </div>
    

