<h2>Menu actual</h2>

<div class="form-group">
  <label for="full_name">Título</label>
  <input [(ngModel)]="inValues.name" type="text" class="form-control" name="full_name" id="full_name" placeholder="Ej: Pechuga a la Reina">
</div>
<div class="form-group">
  <label for="full_eatings">Alimentos</label>
  <input [(ngModel)]="inValues.aliments" type="text" class="form-control" name="full_eatings" id="full_eatings" placeholder="Ej: Carne - Lomo - Milanesa">
</div>
<div class="form-row">
  <div class="form-group col-10">
    <label for="full_aditions">Adiciones</label>
    <input (keydown)="addAditionWithEnter( $event )" [(ngModel)]="currentAdition" type="text" class="form-control" name="full_aditions" id="full_aditions">
    <small class="form-text text-muted">Agrega los alimentos que añades a el menú del dia. EJ: Sopa o fruta.</small>
  </div>
  <div class="form-group col-2 d-flex flex-column justify-content-center">
    <button (click)="addAdition( )" [disabled]="currentAdition == '' " class="btn btn-success">+</button>
  </div>
</div>

<div class="form-group" *ngIf="adiciones.length > 0">
  <div class="card">
    <ul class="list-group list-group-flush" *ngFor="let ad of adiciones">
      <li class="list-group-item">{{ad}}</li>
    </ul>
  </div>  
</div>

<div class="form-group">
  <label for="full_price">Precio</label>
  <input [(ngModel)]="inValues.price" type="number" class="form-control" name="full_price" id="full_price">
</div>
<h4 class="text-muted mb-2">Agrega una opción alternativa a tu menú.</h4>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="full_option">Menu opción 2</label>
    <input [(ngModel)]="inValues.name_option" type="text" class="form-control" name="full_option" id="full_option">
    <small class="form-text text-muted">Ej: Mojarra</small>
  </div>
  <div class="form-group col-md-6">
    
    <label for="full_option_price">Precio opción 2</label>
    <input [(ngModel)]="inValues.name_option_price" type="number" class="form-control" name="full_option_price" id="full_option_price">
  </div>
</div>


