<div class="container">
  <div class="jumbotron col-md-6 offset-md-3">
    <form (submit)="generateSlider($event)">
      <button type="button" routerLink="/admin/listing" class="btn btn-warning">Atras</button>
      <div class="form-group">
        <label for="full_image_name">Nombre de Imagen</label>
        <input type="text" name="full_image_name" id="full_image_name" class="form-control"
          [(ngModel)]="currentSlide.name">
      </div>
      <div class="form-group">
        <label for="full_price">Precio</label>
        <input type="number" name="full_price" id="full_price" class="form-control" [(ngModel)]="currentSlide.price">
      </div>
      <div class="custom-file">
        <input type="file" name="full_image_data" id="full_image_data" (change)="generateImage( $event )"
          class="custom-file-input">
        <label class="custom-file-label" for="customFile">Seleccione archivo</label>
      </div>

      <div class="form-group text-center">
        <input value="Guardar" type="submit" class="btn btn-success">
      </div>

    </form>


  </div>


</div>