<div class="container">
  <div class="jumbotron col-md-6 offset-md-3">
    <form (submit)="generateSlider($event)">
      <button type="button" routerLink="/admin/listing" class="btn btn-warning">Atras</button>
      <div class="form-group">
        <label for="full_image_name">Nombre de Imagen</label>
        <input type="text" name="full_image_name" id="full_image_name" class="form-control"
          [(ngModel)]="currentSlide.name">
      </div>
      <div class="form-group">
        <label for="full_price">Precio</label>
        <input type="number" name="full_price" id="full_price" class="form-control" [(ngModel)]="currentSlide.price">
      </div>
      <div class="custom-file">
        <input type="file" name="full_image_data" id="full_image_data" (change)="generateImage( $event )"
          class="custom-file-input">
        <label class="custom-file-label" for="customFile">Seleccione archivo</label>
      </div>

      <div class="form-group text-center">
        <input value="Guardar" type="submit" class="btn btn-success">
      </div>

    </form>

    
    
  </div>
  <div class="row">
    <div *ngFor="let slide of sliders" class="col-md-3 card">
      <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/pexpress-cf486.appspot.com/o/productos%2F{{slide.id}}?alt=media&token=0263e0ed-9d6f-4937-b55c-2866211af5d0" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-dark">{{slide.name}}</h5>
        <p class="card-text text-muted">${{slide.price | number}}</p>
        <button (click)="deleteSlide(slide.id)"  class="btn btn-danger btn-sm">X</button>
      </div>
    </div>

  </div>

  


</div>