<section *ngIf="status == 1" id="theProductos">
  <div class="vertical-products">
    <div class="titulo">
      <owl-carousel [options]="slideOption" [carouselClasses]="['owl-theme', 'sliding']" [items]="images">
        <ul class="fotos owl-carousel owl-theme" *ngFor="let prod of images">
          <li><img [src]="prod"></li>
        </ul>
      </owl-carousel>
      <h3>{{menu.name | uppercase}}</h3>
      <div class="words-desc">
        <h3 class="exec-launcer-title">{{menu.aliments}}</h3>
      </div>
      <div class="d-flex combo-day">
        <ul>
          <li *ngFor="let aliment of menu.aditions">{{aliment}}</li>
        </ul>
        <div class="price-combo">
          ${{menu.price | number}}
          <div class="mini-price text-center">
            O <br>{{menu.name_option}} ${{menu.name_option_price | number}}
          </div>
        </div>
      </div>
    </div>

    <div class="post-combo">
      <p *ngFor="let cb of combo.combos">
        <span>{{cb.name}}</span>
        <span>${{ cb.price | number}}</span>
      </p>
    </div>

    <div *ngIf="ejec.menus" class="exec-lanuchers d-flex position-relative">
      <div>
        <div class="exec-launcer-title">
          <h3>{{ejec.menus[0].name}}</h3>
        </div>
        <div class="exec-launcers-items">
          <ul>
            <li *ngFor="let ad of ejec.menus[0].aditions">{{ad}}</li>
          </ul>
        </div>
        <span class="exec-launchers-price">
          ${{ejec.menus[0].price | number}}
        </span>
      </div>

      <div>
        <div class="exec-launcer-title two">
          <h3>{{ejec.menus[1].name}}</h3>
        </div>
        <div class="exec-launcers-items">
          <ul>
            <li *ngFor="let ad of ejec.menus[1].aditions">{{ad}}</li>
          </ul>
        </div>
        <span class="exec-launchers-price">
          ${{ejec.menus[1].price | number}}
        </span>
      </div>

      <!-- <div>
        <div class="exec-launcer-title two">
          <h3>Churrasco</h3>
        </div>
        <div class="exec-launcers-items">
          <ul><li>Papa + Yuca</li>
          <li>Maduro</li>
          <li>Guacamole</li>
          <li>Bebida</li></ul>        
        </div>
        <span class="exec-launchers-price">
          $12.500
        </span>
      </div> -->


      <!-- <div class="position-absolute absolute-ofert">
        <p> + Sopa <br>$13.500</p>
      </div> -->

    </div>

  </div>
</section>