
<section *ngIf="status == 1 " id="theProductos" [ngClass]="{'isnighter': isnight}">
  <div class="vertical-products">
    <div class="titulo" id="tituloclicking" >

      <owl-carousel [options]="slideOption" [carouselClasses]="['owl-theme', 'sliding', 'carouselowl']" [items]="images">
        <ul class="fotos owl-carousel owl-theme" *ngFor="let prod of images">
          <li><img [src]="prod"></li>
        </ul>
      </owl-carousel>

      <h3 *ngIf="! isnight">{{menu.name | uppercase}}</h3>
      <h3 *ngIf="menufds && isnight">{{menufds.name | uppercase}}</h3>

      <div *ngIf="! isnight" class="words-desc">
        <h3 class="exec-launcer-title">{{menu.aliments}}</h3>
      </div>

      <p  *ngIf="! isnight" style="font-size: 6vw;">${{menu.price | number}}</p>

      <div *ngIf="! isnight" class="combo-day">
        <ul>
          <li *ngFor="let aliment of menu.aditions">{{aliment}}</li>
        </ul>
        <div class="price-combo">
          
          <div class="mini-price text-center">
            <p class="mini-prie-parraf scale-animation">

              <span>{{menu.name_option}}</span><br><span>${{menu.name_option_price | number}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="! isnight" class="post-combo">
      <p *ngFor="let cb of combo.combos">
        <span>{{cb.name}}</span>
        <span>${{ cb.price | number}}</span>
      </p>
    </div>
    <div *ngIf="isnight && menufds" class="post-combo">
      <p *ngFor="let cb of menufds.combos">
        <span>{{cb.name}}</span>
        <span>${{ cb.price | number}}</span>
      </p>
    </div>

    <div *ngIf="ejec.menus" class="exec-lanuchers position-relative">
      <div>
        <div class="exec-launcer-title">
          <h3>{{ejec.menus[0].name}}</h3>
        </div>
        <div class="exec-launcers-items">
          <ul>
            <li *ngFor="let ad of ejec.menus[0].aditions">{{ad}}</li>
          </ul>
        </div>
        <span class="exec-launchers-price">
          ${{ejec.menus[0].price | number}}
        </span>
      </div>

      <div *ngIf="! isnight" class="position-absolute absolute-ofert">
        <p> + Sopa <br>$13.500</p>
      </div>
      
      <div>
        <div class="exec-launcer-title two">
          <h3>{{ejec.menus[1].name}}</h3>
        </div>
        <div class="exec-launcers-items">
          <ul>
            <li *ngFor="let ad of ejec.menus[1].aditions">{{ad}}</li>
          </ul>
        </div>
        <span class="exec-launchers-price">
          ${{ejec.menus[1].price | number}}
        </span>
      </div>
      

    </div>

  </div>
</section>
