h2{
  color: var(--dark);
  padding-top: 10px;
  border-top: 2px solid var(--red);
}
label {
  margin-bottom: .5rem;
  color: #212529;
  font-size: 1rem;
}

small{
  color: #212529;
  font-size: 13px;
}

.form-group, .form-row {
  text-align: left;
}

.font-default{
  font-size: 1rem;
}

.list-group-item{
  color: var(--dark);
}

