<h2>Combos Actuales</h2>

<div class="form-row">
  <div class="form-group col-md-6">
    <label for="full_name">Nombre de Combo</label>
    <div class="input-group">
      <input (keyup)="enteringCombo($event)" [(ngModel)]="vals.name" type="text" class="form-control" name="full_name" id="full_name" placeholder="Ej: Hamburguesa">
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="full_price">Precio</label>
    <div class="input-group">
      <input (keyup)="enteringCombo($event)" [(ngModel)]="vals.price" type="number" class="form-control" name="full_price" id="full_price">
    </div>
  </div>
  <div class="form-group col less-margin">
    <a [class]="buttonSend.className" [attr.data-event]="buttonSend.action" [attr.data-index]="buttonSend.index" (click)="eventButton($event)" >{{buttonSend.text}}</a>
  </div>
</div>

<div class="form-group" *ngIf="theCombo.length > 0">
  <div class="card">
    <ul class="list-group list-group-flush">
      <li *ngFor="let combo of theCombo; let i = index" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 text-success">{{combo.name}}</h5>
          <small>${{combo.price | number }}<button (click)="removeAdition(i)" class="btn btn-danger btn-sm">&#10006;</button><button (click)="editAdition(i)" class="ml-2 btn btn-primary btn-sm">&#9998;</button></small>
        </div>
      </li>
    </ul>
  </div>
</div>

