
<div class="container">
  
  <h2 class="text-primary text-center"><a routerLink="/screentwo" class="btn btn-warning">Atras</a> Editar tu lista</h2>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div id="accordion">
        <div class="card" >
          <div class="card-header" id="headingOne">
            <a class="d-flex justify-content-between" data-toggle="collapse" data-target="#menusData"
              aria-controls="menusData">
              <h5 class="text-muted">
                Menus
              </h5>
            </a>
          </div>
      
          <div id="menusData" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
      
      
              <ul class="list-group list-group-flush">
                <li *ngFor="let menu of menus" [routerLink]="'menu/' + menu.id" class="pointer text-left list-group-item flex-column align-items-start list-group-item-action">
                  <span class="text-muted" >{{menu.name }}</span>
                </li>                
              </ul>
      
            </div>
          </div>
        </div>
        <div class="card" >
          <div class="card-header" id="headingOne">
            <a class="d-flex justify-content-between" data-toggle="collapse" data-target="#combosData"
              aria-controls="combosData">
              <h5 class="text-muted">
                Combos
              </h5>
            </a>
          </div>
      
          <div id="combosData" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
      
      
            <ul class="list-group list-group-flush">
              <li *ngFor="let combo of combos" [routerLink]="'combo/' + combo.id"
                class="pointer text-left list-group-item flex-column align-items-start list-group-item-action">
                <span class="text-muted">{{combo.title }}</span>
              </li>
            </ul>
      
            </div>
          </div>
        </div>
        
        <div class="card" >
          <div class="card-header" id="headingOne">
            <a class="d-flex justify-content-between" data-toggle="collapse" data-target="#ejecsData"
              aria-controls="ejecsData">
              <h5 class="text-muted">
                Ejecutivos
              </h5>
            </a>
          </div>
      
          <div id="ejecsData" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
      
      
              <ul class="list-group list-group-flush">
                <li *ngFor="let eject of ejects" [routerLink]="'ejec/' + eject.id"
                  class="pointer text-left list-group-item flex-column align-items-start list-group-item-action">
                  <span class="text-muted">{{eject.title }}</span>
                </li>
              </ul>
      
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingOne">
            <a class="d-flex justify-content-between" data-toggle="collapse" data-target="#presetsData"
              aria-controls="presetsData">
              <h5 class="text-muted">
                Presets
              </h5>
            </a>
          </div>
        
          <div id="presetsData" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
        
        
              <ul class="list-group list-group-flush">
                <li *ngFor="let preset of presets" [routerLink]="'preset/' + preset.id"
                  class="pointer text-left list-group-item flex-column align-items-start list-group-item-action">
                  <span class="text-muted">{{preset.title }}</span>
                </li>
              </ul>
        
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>


<router-outlet></router-outlet>


<!-- <pre>
  {{ menus | json }}
  {{ combos | json }}
  {{ ejects | json }}
  {{ presets | json }}
</pre> -->
