/* You can add global styles to this file, and also import other style files */

a{
	cursor: pointer;
}
.pointer{
	cursor: pointer;
}

label {
  margin-bottom: .5rem;
  color: #212529;
  font-size: 1rem;
}

.form-group {
  text-align: left;
}