<section id="theProductos">
	<!-- <div class="left">
		<h1><a routerLink="/login"><img class="logo" [src]="'assets/images/logo_parrilla_express.png'"></a></h1>
		<ul class="menu">
			<li *ngFor="let prod of products">
				<div class="titulo">
					<h3 class="plato">{{prod.data.name}}</h3>
					<h3 class="precio">${{prod.data.price | number }}</h3>
				</div>
				<p>{{prod.data.description}}</p>

			</li>		
		</ul>
	</div> -->
	<div class="right">
		<ngx-slick-carousel class="carousel fotos owl-carousel owl-theme" (init)="slickInit($event)" [config]="slideOption"
			#slickModal="slick-carousel">
			<div ngxSlickItem class="slide" *ngFor="let prod of images"><img [src]="prod">
				<div class="txtplato txtplatoright">
					<div class="titulo titleplato">
						<h3 class="plato">Hamburguesa Ranchera</h3>
					</div>
					<div class="titulo precioplato">
						<h3 class="precio">$18.000</h3>
					</div>
				</div>
			</div>
		</ngx-slick-carousel>
	</div>
</section>
<router-outlet></router-outlet>