.list-group-item, label, h2{
  color: var(--dark);
}

h2{
	padding-top: 10px;
	border-top: 2px solid var(--red);
}

.form-group{
  text-align: left;
}

.less-margin{
  margin-top: -0.8rem;
}

.button-adding{
  width: 60px;
	margin-left: 15px;
}
